.main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.filter, .chats {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.articles, .messages {
    flex: 3;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
}

.article-filter {
    margin-top: 10px;

}

.search input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.article-filter ul, .rating-threshold ul, .tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article-filter ul li, .rating-threshold ul li, .tags ul li {
    margin-bottom: 10px;
}

.article-filter ul li a, .rating-threshold ul li a, .tags ul li a {
    text-decoration: none;
    color: #3498db;
}

.info-item {
    margin-top: 10px;
}

.edit-field {
    display: none;
    margin-top: 10px;
}

.edit-field input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}

.edit-btn {
    border: 0;
}

.confirm-btn {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.profile {
    display: inline-block;
    width: 50%;
    margin: 50px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
}

.profile-img {
    position: relative;
    top: -25px;
    display: inline-block;
    margin: 50px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
}

.tag-style {
    border-radius: 5px;
    background-color: #3498db;
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    cursor: pointer;
}

.cover {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.article {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 20px;
}

.cover, article img {
    max-width: 800px;
    max-height: 350px;
}

.article-profile-mini-img, .chat-profile-mini-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.article-icon-rating {
    height: 25px;
}

.article-icon-views {
    height: 20px;
    margin-right: 3px;
}

.article-content, .question-content {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 100px;
}

.stream-header button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.question {
    padding: 20px;
    background-color: white;
    color: black;
    margin: 1px;
}

.question-stats {
    display: inline-block;
    width: 20%;
}

.question-info {
    display: inline-block;
    width: 79%;
}

.question-author-info {
    display: flex;
    justify-content: right;
}

.question-header, .question-body {
    padding: 6px;
    color: #000;
    background-color: white;
    margin: 1px;
}

.question-header-author-info {
    border-radius: 5px;
    padding: 6px;
    margin: 2px;
    background-color: #D6E8FAFF;
}

.default-button {
    color: white;
    padding: 10px 20px;
    background-color: #3498db;
    border-radius: 8px;
}

.default-button:hover {
    background: #198754;
}

.chat {
    background: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.answers {
    margin: 10px 100px;
}

.answer {


}

.answer-info {
    display: inline-block;
    width: 7%;
}

.answer-content {
    display: inline-block;
    width: 92%;
}

.moderation-articles {
    margin: 10px 150px;
    background-color: #ecf0f1;
    padding: 20px;
}

.confirm-button {
    color: white;
    padding: 10px 20px;
    background-color: #44ce44;
    border-radius: 8px;
}

.confirm-button:hover {
    background: #198754;
}

.reject-button {
    color: white;
    padding: 10px 20px;
    background-color: #ff4b4b;
    border-radius: 8px;
}

.reject-button:hover {
    background-color: #e10000;
}
